body {
    margin: 0px;
    background-color: blue;
}

div {
    background-color: rgb(255, 0, 200);
    
    margin-left: 10vh;
    width: 50px;
    height: 50px;
    Left: 20px;
    
}

main {
    background-color: yellow;
    width: 100px;
    height: 100px;

    margin: 20px 0PX 20PX auto;
}