main {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.container_div {
    background-color: red;
    width: 100px;
    height: 100px;
}

#Novo_id {
    background-color: green;
    width: 100px;
    height: 100px;
}